<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/lang
       http://www.springframework.org/schema/lang/spring-lang-2.0.xsd">
       
    
	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost/rt_delivery_control_system" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean> -->
	
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://ap-cdbr-azure-southeast-b.cloudapp.net/pcm" />
		<property name="username" value="b63effd4bae942" />
		<property name="password" value="dd54a7fd" />
	</bean>
	<bean id="sqlMap" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:SqlMapConfig.xml</value>
		</property>
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- DAO beans. -->
	<bean id="locationDAO" class="com.pcm.daoservice.LocationDAOImpl">
		<property name="sqlMap" ref="sqlMap" />
	</bean>
	<bean id="meterDAO" class="com.pcm.daoservice.MeterDAOImpl">
		<property name="sqlMap" ref="sqlMap" />
	</bean>
	<bean id="meterDataDAO" class="com.pcm.daoservice.MeterDataDAOImpl">
		<property name="sqlMap" ref="sqlMap" />
	</bean>
	<!-- End DAO beans. -->

	<!-- Service beans. -->
	<bean id="EntryService" class="com.pcm.service.EntryServiceImpl">
		<property name="locationDAO" ref="locationDAO" />
		<property name="meterDAO" ref="meterDAO" />
		<property name="meterDataDAO" ref="meterDataDAO" />
	</bean>
	<bean id="SearchService" class="com.pcm.service.SearchServiceImpl">
		<property name="locationDAO" ref="locationDAO" />
		<property name="meterDAO" ref="meterDAO" />
		<property name="meterDataDAO" ref="meterDataDAO" />
	</bean>
	<!-- End service beans. -->
</beans>